Repository securesign/rekor-monitor: changes, and which Tekton pipelines are due for each by the changed paths.
All: ctlog-monitor-on-pull-request, rekor-monitor-on-pull-request, rekor-monitor-on-push

ctlog-monitor-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/ctlog-monitor:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.ctlog-monitor.rh
  - name: path-context
  ...

rekor-monitor-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rekor-monitor:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.rh
  - name: path-context
    value: .
  ...

rekor-monitor-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rekor-monitor:{{revision}}
  - name: dockerfile
    value: Dockerfile.rekor-monitor.rh
  - name: path-context
    value: .
  - name: build-source-image
    value: 'true'
  ...

chore: add release-version param
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-pull-request, rekor-monitor-on-push

chore: add release-version param
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

chore: update builder images
  Dockerfile.rh
Due: rekor-monitor-on-pull-request

Update base image in Dockerfile for builder stage
  Dockerfile.rh
Due: rekor-monitor-on-pull-request

:robot: Updated timestamp file to 2026-02-02,16-42-42.
  trigger-konflux-builds.txt
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-push

Updating Timestamp file
  trigger-konflux-builds.txt
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-push

Adding release-version
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Removing extra release-version
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Red Hat Konflux update rekor-monitor-v1-3
  .tekton/rekor-monitor-v1-3-pull-request.yaml
  .tekton/rekor-monitor-v1-3-push.yaml
Due: none

:robot: Updated timestamp file to 2026-02-04,17-21-08.
  trigger-konflux-builds.txt
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-push

chore: updte nudge regexp
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-push

chore: update nudge config
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-push

Updated images
  Dockerfile.ctlog-monitor.rh
  Dockerfile.rekor-monitor.rh
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-push

Updated images & release versions
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
  Dockerfile.rh
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Red Hat Konflux purge ctlog-monitor
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
Due: ctlog-monitor-on-pull-request

Red Hat Konflux update ctlog-monitor-v1-3
  .tekton/ctlog-monitor-v1-3-pull-request.yaml
  .tekton/ctlog-monitor-v1-3-push.yaml
Due: none

Red Hat Konflux update ctlog-monitor
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
Due: ctlog-monitor-on-pull-request

golang 1.25.7
  Dockerfile
Due: none

Resolving shellescape
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-pull-request, rekor-monitor-on-push

Updating test image
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-pull-request, rekor-monitor-on-push

Running go mod tidy
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-pull-request, rekor-monitor-on-push

Updating Tekton File
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Update test images
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Update Tekton pipelines for release-1.4 branch
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-pull-request, rekor-monitor-on-push

Enable codecov coverage checks with 70% patch requirement
  codecov.yml
Due: none

Add code coverage workflow for pull requests
  .github/workflows/code-coverage.yml
Due: none

Add CODECOV_TOKEN to workflow
  .github/workflows/code-coverage.yml
Due: none

Update release-version to 1.3.5
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Update release-version to 1.4.1
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-pull-request, rekor-monitor-on-push

Red Hat Konflux update ctlog-monitor-v1-4
  .tekton/ctlog-monitor-v1-4-pull-request.yaml
  .tekton/ctlog-monitor-v1-4-push.yaml
Due: none

Red Hat Konflux update rekor-monitor-v1-4
  .tekton/rekor-monitor-v1-4-pull-request.yaml
  .tekton/rekor-monitor-v1-4-push.yaml
Due: none

Updating Tekton naming
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-pull-request, rekor-monitor-on-push

ci: switch Codecov upload to OIDC authentication
  .github/workflows/code-coverage.yml
Due: none

ci: add Codecov OIDC auth and unit flag in separate coverage workflow
  .github/workflows/code-coverage.yml
  codecov.yml
Due: none

fix: add push trigger to coverage workflow for Codecov baseline (#111)
  .github/workflows/code-coverage.yml
Due: none

Add sync-upstream workflow
  .github/workflows/sync-upstream.yaml
Due: none

fix: cve-2026-39829, upgrade golang.org/x/crypto
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-pull-request, rekor-monitor-on-push

feat: enable native go FIPS
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
  Dockerfile.ctlog-monitor.rh
  Dockerfile.rekor-monitor.rh
  go.mod
  pkg/ct/consistency.go
  pkg/rekor/v1/verifier.go
  pkg/rekor/v2/verifier.go
  pkg/util/fips.go
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-pull-request, rekor-monitor-on-push

feat: add FIPS 140-3 compliance gating for entry processing
  pkg/rekor/v1/identity.go
  pkg/rekor/v2/identity.go
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-pull-request, rekor-monitor-on-push

Update release-version to 1.4.2
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: ctlog-monitor-on-pull-request, rekor-monitor-on-pull-request, rekor-monitor-on-push

Path conditions:
  ctlog-monitor-on-pull-request: (((((((any of: Dockerfile.ctlog-monitor.rh) or (any of: .tekton/ctlog-monitor-pull-request.yaml)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/ct_monitor/***)) or (any of: pkg/***)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)
  rekor-monitor-on-pull-request: (((((((any of: Dockerfile.rh) or (any of: .tekton/rekor-monitor-pull-request.yaml)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor_monitor/***)) or (any of: cmd/ct_monitor/***)) or (any of: pkg/***)) or (any of: Makefile)
  rekor-monitor-on-push: (((((((any of: Dockerfile.rekor-monitor.rh) or (any of: .tekton/rekor-monitor-push.yaml)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor_monitor/***)) or (any of: pkg/***)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)
