Repository securesign/rekor-monitor: changes, and which Tekton pipelines are due for each by the changed paths.
All: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

Path conditions:
  ctlog-monitor-on-pull-request: (((((((any of: Dockerfile.ctlog-monitor.rh) or (any of: .tekton/ctlog-monitor-pull-request.yaml)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/ct_monitor/***)) or (any of: pkg/***)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)
  ctlog-monitor-on-push: (((((((any of: Dockerfile.ctlog-monitor.rh) or (any of: .tekton/ctlog-monitor-push.yaml)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/ct_monitor/***)) or (any of: pkg/***)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)
  rekor-monitor-on-push: (((((((any of: Dockerfile.rekor-monitor.rh) or (any of: .tekton/rekor-monitor-push.yaml)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor_monitor/***)) or (any of: pkg/***)) or (any of: Makefile)) or (any of: trigger-konflux-builds.txt)

fix: update golang.org/x/crypto dependency to handle CVE-2026-39828, CVE-2026-39829, CVE-2026-39830 and CVE-2026-39835
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

Update release-version to 1.3.6 in Tekton pipelines
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-push

feat: approve Ed25519 in FIPS 140-3 key validation
  pkg/util/fips.go
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

chore(deps): bump golang.org/x/ dependencies to latest
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

Update release-version from 1.4.0 to 1.5.0
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

Release version updated to 1.4.3
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

Update release-version to 1.3.7
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-push

SECURESIGN-5379: add explicit workflow permissions
  .github/workflows/trigger-konflux-build.yml
Due: none

SECURESIGN-5505 Upversion golang.org/x/mod to v0.38.0
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

SECURESIGN-5491 Upversion golang.org/x/mod to v0.38.0
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

chore: securesign-5419: pin github actions to their SHAs
  .github/workflows/sync-upstream.yaml
  .github/workflows/test-rekor-integration.yml
Due: none

SECURESIGN-5487 bump golang.org/x family
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

SECURESIGN-5292 bump go.opentelemetry.io/otel to v1.44.0
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

SECURESIGN-5277 bump go.opentelemetry.io/otel to v1.44.0
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

SECURESIGN-5505 bump golang.org/x/mod to v0.38.0
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

SECURESIGN-5491 bump golang.org/x/mod to v0.38.0
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

Update release-version to 1.3.8
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-push

fix: SECURESIGN-5666, 5671 update grpc to v1.82.2
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

SECURESIGN-5683 update gRPC to v1.83.2
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

fix: updating grpc to address https://pkg.go.dev/vuln/GO-2026-6348
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

fix: SECURESIGN-5869 update grpc to 1.83.2
  go.mod
  go.sum
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push

chore: update release version to 1.4.4
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: ctlog-monitor-on-pull-request, ctlog-monitor-on-push, rekor-monitor-on-push
