Repository securesign/rekor-monitor: changes, and which Tekton pipelines are due for each by the changed paths.
All: rekor-monitor-on-pull-request, rekor-monitor-on-push

rekor-monitor-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rekor-monitor:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.rh
  - name: path-context
    value: .
  ...

rekor-monitor-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rekor-monitor:{{revision}}
  - name: dockerfile
    value: Dockerfile.rh
  - name: path-context
    value: .
  - name: build-source-image
    value: 'true'
  ...

remove image expiration from push CI (#11)
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-push

update rekor_monitor: remove start/end index check
  cmd/rekor_monitor/main.go
Due: none

update rekor_monitor: remove start/end index check (#12)
  cmd/rekor_monitor/main.go
Due: none

update dockerfile.rh summary
  Dockerfile.rh
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

update dockerfile.rh summary (#13)
  Dockerfile.rh
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Update Go Dependencies
  go.mod
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

update ci on-cel-expression
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

update ci on-cel-expression (#15)
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

fix: allow start > end as valid error in rekor_monitor
  cmd/rekor_monitor/main.go
  pkg/rekor/client.go
Due: none

update client test
  pkg/rekor/client_test.go
Due: none

fix: allow start > end as valid error in rekor_monitor (#14)
  cmd/rekor_monitor/main.go
  pkg/rekor/client.go
  pkg/rekor/client_test.go
Due: none

fix: recover from checkpoint written with empty Rekor log
  pkg/rekor/verifier.go
Due: none

update error handling
  pkg/rekor/verifier.go
Due: none

Refactor RunConsistencyCheck to use iterative loop instead of recursion
  pkg/rekor/verifier.go
Due: none

fix: recover from checkpoint written from empty Rekor log (#16)
  pkg/rekor/verifier.go
Due: none

update dependencies
  go.mod
  go.sum
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

bump go builder image to 1.24
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
  Dockerfile.rh
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Dockerfile: disable VCS stamping
  Dockerfile.rh
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Update module github.com/go-openapi/jsonpointer to v0.21.1
  go.mod
  go.sum
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

update docker images
  Dockerfile
  Dockerfile.rh
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

update dependencies (#17)
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
  Dockerfile
  Dockerfile.rh
  go.mod
  go.sum
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Forward termination signals from metrics server to main process for unified shutdown
  pkg/server/metrics.go
Due: none

Forward termination signals from metrics server to main process for unified shutdown (#21)
  pkg/server/metrics.go
Due: none

Add rekor integration test: tampering
  .github/workflows/test-rekor-integration.yml
  pkg/test/rekor_integration/rekor_monitor_integration_test.go
Due: none

review updates
  .github/workflows/test-rekor-integration.yml
  pkg/test/rekor_integration/rekor_monitor_integration_test.go
  test/integration/rekor_monitor_integration_test.go
  test/integration/rekor_monitor_integration_test.sh
Due: none

updates
  test/integration/rekor_monitor_integration_test.go
  test/integration/rekor_monitor_integration_test.sh
Due: none

updates
  test/integration/rekor_monitor_integration_test.go
Due: none

userekor mock server
  .github/workflows/test-rekor-integration.yml
  test/integration/rekor_monitor_integration_test.go
  test/integration/rekor_monitor_integration_test.sh
Due: none

review updates
  .github/workflows/test-rekor-integration.yml
  test/integration/rekor_monitor_integration_test.go
Due: none

split runMonitorAndValidate
  test/integration/rekor_monitor_integration_test.go
Due: none

add truncate & fork test
  test/integration/rekor_monitor_integration_test.go
Due: none

chore(deps): update go dependencies
  go.mod
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

review updates
  test/integration/monitor_tampered_test.go
  test/integration/monitor_truncation_forking_test.go
  test/integration/monitor_valid_test.go
  test/integration/utils_test.go
Due: none

review updates
  test/integration/monitor_tampered_test.go
  test/integration/monitor_truncation_forking_test.go
  test/integration/utils_test.go
Due: none

review updates
  test/integration/monitor_basic_test.go
  test/integration/monitor_tampered_test.go
  test/integration/monitor_truncation_forking_test.go
  test/integration/utils_test.go
Due: none

review updates
  test/integration/monitor_basic_test.go
  test/integration/utils_test.go
Due: none

[SECURESIGN-2747] add test with empty Rekor log (#25)
  test/integration/monitor_basic_test.go
  test/integration/monitor_tampered_test.go
  test/integration/monitor_truncation_forking_test.go
  test/integration/utils_test.go
Due: none

add test with empty Rekor log
  go.mod
  test/integration/monitor_basic_test.go
  test/integration/monitor_tampered_test.go
  test/integration/monitor_truncation_forking_test.go
  test/integration/monitor_unavailable_log_server_test.go
  test/integration/utils_test.go
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

review updates
  test/integration/monitor_basic_test.go
  test/integration/monitor_tampered_test.go
  test/integration/monitor_truncation_forking_test.go
  test/integration/monitor_unavailable_log_server_test.go
  test/integration/utils_test.go
Due: none

refactor: Get rid of asynchronous eventing in test
  test/integration/main_test.go
  test/integration/monitor_basic_test.go
  test/integration/monitor_tampered_test.go
  test/integration/monitor_truncation_forking_test.go
  test/integration/monitor_unavailable_log_server_test.go
  test/integration/rekor_utils.go
  test/integration/utils_test.go
Due: none

Path conditions:
  rekor-monitor-on-pull-request: (((((((any of: Dockerfile.rh) or (any of: .tekton/rekor-monitor-pull-request.yaml)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor_monitor)) or (any of: cmd/ct_monitor)) or (any of: pkg)) or (any of: Makefile)
  rekor-monitor-on-push: (((((((any of: Dockerfile.rh) or (any of: .tekton/rekor-monitor-push.yaml)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor_monitor)) or (any of: cmd/ct_monitor)) or (any of: pkg)) or (any of: Makefile)
