Repository securesign/rekor-monitor: changes, and which Tekton pipelines are due for each by the changed paths.
All: rekor-monitor-on-pull-request, rekor-monitor-on-push

Path conditions:
  rekor-monitor-on-pull-request: (((((((any of: Dockerfile.rh) or (any of: .tekton/rekor-monitor-pull-request.yaml)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor_monitor/***)) or (any of: cmd/ct_monitor/***)) or (any of: pkg/***)) or (any of: Makefile)
  rekor-monitor-on-push: (((((((any of: Dockerfile.rh) or (any of: .tekton/rekor-monitor-push.yaml)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor_monitor/***)) or (any of: cmd/ct_monitor/***)) or (any of: pkg/***)) or (any of: Makefile)

small clean-up
  test/integration/main_test.go
Due: none

update deps
  go.mod
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

[SECURESIGN-2748] Add test: simulate Rekor server unavailability (#26)
  go.mod
  test/integration/main_test.go
  test/integration/monitor_basic_test.go
  test/integration/monitor_tampered_test.go
  test/integration/monitor_truncation_forking_test.go
  test/integration/monitor_unavailable_log_server_test.go
  test/integration/rekor_utils.go
  test/integration/utils_test.go
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

add TestMonitorHighFrequencyFetch
  test/integration/main_test.go
  test/integration/monitor_basic_test.go
  test/integration/monitor_tampered_test.go
  test/integration/monitor_truncation_forking_test.go
  test/integration/monitor_unavailable_log_server_test.go
Due: none

Adding Trigger Build Action
  .github/workflows/trigger-konflux-build.yml
Due: none

Tekton Changes for build triggering
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

:robot: Updated timestamp file to 2025-09-05,09-30-50.
  trigger-konflux-builds.txt
Due: none

Update Go Dependencies
  go.mod
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

:robot: Updated timestamp file to 2025-09-07,19-59-30.
  trigger-konflux-builds.txt
Due: none

Update module github.com/cavaliercoder/go-rpm to v1
  go.mod
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Updating name value in Dockerfile
  Dockerfile.rh
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

:robot: Updated timestamp file to 2025-09-29,10-45-29.
  trigger-konflux-builds.txt
Due: none

update integration tests
  test/integration/data/tuf-repo/1.root.json
  test/integration/data/tuf-repo/1.snapshot.json
  test/integration/data/tuf-repo/1.targets.json
  test/integration/data/tuf-repo/2.snapshot.json
  test/integration/data/tuf-repo/2.targets.json
  test/integration/data/tuf-repo/3.snapshot.json
  test/integration/data/tuf-repo/3.targets.json
  test/integration/data/tuf-repo/root.json
  test/integration/data/tuf-repo/targets/028b09e1614bd917ea9607077f06ef0e9f15535702d56dd1393d6438f99b10b4.rekor_with_data.pub
  test/integration/data/tuf-repo/targets/10a96b044cfe104762aa0c742c5feff970e35e185e1bdf6d9a96356236aac150.signing_config.v0.2.json
  test/integration/data/tuf-repo/targets/2774417ab2c2a14d48985ba9561d11ede443cb54f5235ccf67fc83411736b444.rekor.pub
  test/integration/data/tuf-repo/targets/3b0e4a93f05f5ff9c20f3b8cf1b2ae296949438a76091ba868e2f0eed0ae9328.signing_config.v0.2.json
  test/integration/data/tuf-repo/targets/46f5870700630d75bb68808f613ea122716a7127e611b831d7db5f668839c6e2.trusted_root.json
  test/integration/data/tuf-repo/targets/8a46d8d0b504d47a13efbccc03b07baf86dc4ae7c0e5fc6148fdd60ff7f6145e.trusted_root.json
  test/integration/data/tuf-repo/timestamp.json
  test/integration/main_test.go
  test/integration/monitor_basic_test.go
  test/integration/monitor_tampered_test.go
  test/integration/monitor_truncation_forking_test.go
Due: none

skip TestLoadMonitorConfig_ConfigFilePermissions (Konflux run uses root user)
  internal/cmd/common_test.go
Due: none

:robot: Updated timestamp file to 2025-10-30,12-51-34.
  trigger-konflux-builds.txt
Due: none

Red Hat Konflux update ctlog-monitor
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
Due: none

add ctlog-monitor
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-push.yaml
  Dockerfile.ctlog-monitor.rh
  Dockerfile.rekor-monitor.rh
Due: rekor-monitor-on-push

Updating time
  trigger-konflux-builds.txt
Due: none

Updating Targeted Branch
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Updating Konflux Application References
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Updating time text file
  trigger-konflux-builds.txt
Due: none

Fixing Service Accounts
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Using other service accounts
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

updates
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
  Dockerfile.ctlog-monitor.rh
  Dockerfile.rekor-monitor.rh
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

revert .tekton/ctlog-monitor*
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
Due: none

updates
  .tekton/ctlog-monitor-push.yaml
Due: none

updates
  .tekton/ctlog-monitor-pull-request.yaml
Due: none

updates
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
Due: none

update rekor-monitor tests: increase expiration date
  test/integration/data/tuf-repo/1.root.json
  test/integration/data/tuf-repo/1.snapshot.json
  test/integration/data/tuf-repo/1.targets.json
  test/integration/data/tuf-repo/2.snapshot.json
  test/integration/data/tuf-repo/2.targets.json
  test/integration/data/tuf-repo/3.snapshot.json
  test/integration/data/tuf-repo/3.targets.json
  test/integration/data/tuf-repo/root.json
  test/integration/data/tuf-repo/targets/9ac1e5eedc78885174a817d8eedfa51c5a09c78ae9609f7f3a357f65ae64cc36.signing_config.v0.2.json
  test/integration/data/tuf-repo/targets/d01d02a429799487d45759e392ff38731d5ce2fe5a288c30b55d36b711f4ae74.trusted_root.json
  test/integration/data/tuf-repo/targets/f7392fe19f40c28e12b9dc89ea112ad7699b5a558b5b48a5b14444ff40caac0d.trusted_root.json
  test/integration/data/tuf-repo/targets/f7b258b46f27cd1cffa2b82a65a12b2df0a880191e05b85c4107892451cabc93.signing_config.v0.2.json
  test/integration/data/tuf-repo/timestamp.json
Due: none

:robot: Updated timestamp file to 2025-11-19,09-43-49.
  trigger-konflux-builds.txt
Due: none

Triggering Build
  trigger-konflux-builds.txt
Due: none

add taskRunTemplate.serviceAccountName
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-push

ci: add fips cheeck
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
  Dockerfile.ctlog-monitor.rh
  Dockerfile.rekor-monitor.rh
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

upgrade go-toolset image
  .github/workflows/test-rekor-integration.yml
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
  Dockerfile.ctlog-monitor.rh
  Dockerfile.rekor-monitor.rh
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Components versions updated in tekton pipelines for 1.3
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Components versions updated in tekton pipelines for main
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Application name changed
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push

Application name changed
  .tekton/ctlog-monitor-pull-request.yaml
  .tekton/ctlog-monitor-push.yaml
  .tekton/rekor-monitor-pull-request.yaml
  .tekton/rekor-monitor-push.yaml
Due: rekor-monitor-on-pull-request, rekor-monitor-on-push
